.reason_area {
	padding: 40px 0 30px 0;
	background: url('../img/top/bg_section.png');
	position: relative;
	@media #{$scr_sp} {
		padding: 20px 0 30px 0;
	}

	.section_title {
		img {
			height: 95px;
		}
	}
}
.reason_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
	@media #{$scr_sp} {
		width: 100%;
		flex-direction: column;
		margin-top: 0;
		margin: 0;
	}
	li {
		width: calc(50% - 50px);
		margin: 0 25px 50px;
		text-align: center;
		background: #fff;
		position: relative;
		box-sizing: border-box;
		box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.1);
		position: relative;
		@media #{$scr_sp} {
			min-width: 100%;
			width: 100%;
			display: flex;
			margin: 0 0 20px;
		}
	}
	h3 {
		font-size: 2.5rem;
		line-height: 1.3;
		color: #d10101;
		letter-spacing: 0.02em;
		font-weight: bold;
		margin: 0 0 16px;

		&.reason_list_content_head_m {
			@media #{$scr_pc} {
				margin-top: 0.6em;
				margin-bottom: calc(16px + 0.6em);
			}
		}
		@media #{$scr_sp} {
			font-size: 1.6rem;
			margin-bottom: 10px;
		}
	}

	&_content {
		padding: 30px 5px 40px;

		@media #{$scr_sp} {
			padding: 20px 17px 15px 142px;
			text-align: left;
			flex: 1;

			br {
				display: none;
			}
		}
	}

	&_ph {
		@media #{$scr_sp} {
			width: 125px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
			}
		}
	}
}
.reason_point {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	@media #{$scr_sp} {
		top: -22px;
	}
}
.reason_text {
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 1.6;

	@media #{$scr_sp} {
		font-size: 1.2rem;
	}
}
