.voice-section {
	padding: 30px 20px 65px;
	position: relative;
  background: #fff url('../img/top/bg-voice.png') no-repeat center center / 100% auto;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;

	@include media-xs {
		padding: 30px 0 80px;
    background: #fff;
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
	}


	&__inner {
		//
	}

	&__body {
		max-width: 1012px;
		margin: 0 auto;
		gap: 0 49px;
		align-items: flex-start;

		@include media-xs {
			width: calc(100% - 40px);
			margin: 0 auto;
			flex-direction: column;
		}

		h3 {
			text-align: center;
			margin-bottom: -10px;

			@include media-xs {
				margin-bottom: -30px;
			}

			img {
				width: 881px;
				transform: translate(0, -28px);

				@include media-xs {
					width: 292px;
					transform: translate(0, -38px);
				}
			}
		}
	}

	&__content {
		flex: 1;

		@include media-xs {
			flex-direction: column;
			gap: 20px;
		}

		p {
			flex: 1;
			font-size: 1.6rem;
			line-height: 1.8;
      letter-spacing: 0.05em;
      color: #51464a;

			@include media-xs {
				font-size: 1.5rem;
			}

			span {
				color: #61c9cc;
				font-weight: bold;
			}
		}

    &-head {
      font-weight: bold;
      text-align: center;
      font-size: 2.2rem;
      font-weight: bold;
      color: var(--pink, #F04981);
      line-height: 1.5;
      transform: skewX(-10deg);
      margin: 10px 0;

      @include mq(md) {
        font-size: 1.8rem;
        text-align: left;

        br {
          display: none;
        }
      }

      span {
        background:linear-gradient(transparent 1em,#ffe262 .8em)
      }
    }

    &-head-s {
      font-weight: bold;
      position: relative;
      font-size: 2rem;
      margin: 24px 0 10px;

      @include mq(md) {
        font-size: 1.8rem;
      }

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px dashed #51464a;
        position: absolute;
        top: 50%;
        left: 0;

      }

      span {
        background: #fff;
        position: relative;
        padding-right: 7px;
        display: inline-block;
      }
    }
	}

	&__text {
		background-color: #f6f2ee;
		background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #f6f2ee 50%, #f6f2ee 100%),
				/* 点線1の色 */
				linear-gradient(180deg, #b68366 1px, transparent 1px);
			/* 点線2の色と太さ */
		background-size: 5px 100%,
				/* 点線1のサイズ */
				100% 2.5em;
			/* 点線2のサイズ */
		line-height: 2.5em;
		padding-bottom: 1px;
		font-size: 1.6rem;
		position: relative;
		letter-spacing: 0.8px;

		&::before {
			content: '';
			background: #f6f2ee;
			height: 2px;
			width: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 34px;
		margin-bottom: 35px;

		@include media-xs {
			grid-template-columns: auto;
			gap: 60px;
			padding: 0 32px;
		}
	}

	&__block {
		&-inner {
			border: 3px solid #7e7d36;
			padding: 8px;
			height: 100%;

			@include media-xs {
				padding: 5px;
			}
		}

		&-body {
			border: 1px solid #7e7d36;
			padding: 30px 25px;
			height: 100%;
		}

		&-header {
			position: relative;
			margin-bottom: 16px;

			@include media-xs {
				padding-top: 2px;
			}
		}

		&-content {
			p {
				line-height: 2;
				font-size: 1.6rem;

				@include media-xs {
					font-size: 1.6rem;
				}

				span {
					color: #b70614;
				}
			}
		}

    &-head {
      font-family: "Zen Maru Gothic", sans-serif;
      text-align: center;
      line-height: 1.2;
      letter-spacing: 0.05em;
      font-weight: bold;
      color: #ff6b75;
      font-size: 2.8rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      bottom: calc(100% + 24px);
      width: 100%;
      background: url('../img/top/bg-voice-head.png') no-repeat center bottom / auto 65px;
      min-height: 3em;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 4px;

      @include mq(md) {
        font-size: 2rem;
        background: url('../img/top/bg-voice-head.png') no-repeat center bottom / auto 43px;
      }
    }
	}

	&__ph {
		width: 120px;
		position: relative;
		border-radius: 8px;
		overflow: hidden;

		@include media-sm {
			order: -1;
		}

		@include media-xs {
			width: 90px;
		}

		img {
			position: relative;
		}
	}



	&__block-header--r &__name {
		margin-left: 0;
		margin-right: auto;
		text-align: left;
	}

	&__btn {
		display: flex;
		justify-content: center;
		background: #47a248;
		margin-top: 80px;
		padding: 25px;

		@include media-xs {
			margin-top: 50px;
		}
	}

	&__header {
		margin-bottom: 20px;
		align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;

		@include media-xs {
			gap: 13px;
			margin-bottom: 13px;
		}
	}

	&__info {
		@include mq(md) {
      //
    }
	}

	&__name {
    font-weight: 500;
		line-height: 1.8;
		margin-bottom: 6px;
		font-size: 2.1rem;
    font-weight: bold;;

		@include media-xs {
			font-size: 1.8rem;
      line-height: 1.5;
		}
	}

  &__shop {
    border-radius: 50px;
    background: #e3dab2;
    font-size: 1.4rem;
    width: fit-content;
    padding: 0px 10px;

    @include mq(md) {
      font-size: 1.2rem;
    }
  }

	&__caption {
		line-height: 1.5;
		font-size: 2rem;
		font-weight: bold;
		display: flex;
		align-items: center;
		position: absolute;
		left: -23px;
		top: -16px;

		@include media-xs {
			font-size: 2rem;
			line-height: 1.4;
			top: 20px;
			left: -18px;
		}

		img {
			height: 91px;

			@include media-xs {
				height: 60px;
			}
		}
	}
}

.voice-swiper {
	position: relative;

  @include mq(md) {
    margin-top: 0;
  }

	&__body {
		padding-top: 6px;

		@include media-xs {
			overflow: visible !important;
      margin-top: -10px;
		}
	}

	@include media-xs {
		margin: 0 auto;
	}

	&__element {
		padding: 30px 20px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		letter-spacing: 0;
    border: 8px solid var(--blue, #60C9CC);
    background: #FFF;

    height: auto;
    position: relative;

		@include media-xs {
			width: 100%;
			padding: 20px 16px 20px;
			height: auto;

      &:nth-child(2) {
        order: -2;
      }
		}
	}

	&__list {

		@include media-sm {
			gap: 37px;
			justify-content: center;
			flex-wrap: wrap;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: max-content;
      align-items: start;
		}
	}

  .swiper-button-voice-next {
    right: -20px !important;
  }

  .swiper-button-voice-prev {
    left: -20px !important;
  }
}
