.prevent_dialog_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.prevent_dialog_wrapper {
  display: none;
  position: fixed !important;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.prevent_dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 540px;
}
.prevent_dialog img {
  width: 100%;
}

.back_button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .prevent_dialog {
    width: 94%;
  }
}